html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

    body {
        margin: 0;
        
        display: flex;
        justify-content: center;

        #app {
            width: 1000px;

            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
